
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Tonatiuh">
    <link rel="icon" href="../logo/logo.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="starter-template.css" rel="stylesheet"> -->
    <link href="blog.css" rel="stylesheet">

    <!-- debuging -->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

<!-- Needed for dropdown menu -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- end of dropmenu section -->

  </head>

    <!-- Navigation -->
    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <!--<img src="/static/logo.jpg" width="70" height="30" alt=""> -->
    <img src="/static/logo2.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    AutismXpert
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://www.autismxpert.pro">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


<div class="container">
  <div class="row">
    
    <div class="starter-template">
        <!--<h2>Output Page</h2>-->
        <p>Enter a question related to autism</p>
    </div> <!-- starter template -->

    <div class = "container">
      <form  action="/output" method="GET">
        <div class="col-md-2">
          <div class="form-group">
            <label for="autism_query">Query:</label><br>
            <input type="text" id="autism_query" name='autism_query' placeholder="e.g. Potty training. ">
          </div> <!-- form-group -->
        </div> <!-- col -->
        <div class="col-md-3">
          <label for="selection">or select one:</label>
          <select class="form-control" id="selection" name="selection">
            {% for question in question_list %}
            <option>{{question['text']}}</option>
            {% endfor %}
        </div>
          </select>
        </div> <!-- col -->
        <div class="col-md-1">
          <div class="radio">
            <label><input type="radio" name="filter_opt">Filter posts</label>
          </div>
        </div> <!-- col -->
        <div class="col-md-1">
          <br>
          <div>
            <button type="submit" class="btn btn-primary">Search</button>
          </div> <!-- button -->
        </div> <!-- col -->
      </form>
     </div> <!-- container -->


  </div> <!-- row -->
  </div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>

  </div> <!-- /.container-->
     </div>

<!-- /.container -->

     <img class="img-responsive" src="/static/front-image.jpg" alt="Chania">


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

<script src="static/js/bootstrap.min.js"></script>

  </body>
</html>

